[tool.poetry]
name = "spectrally constrained linear transforms"
version = "0.1.0"
description = "An optimisation implementation of linear transforms with a spectral constraint."
authors = ["Ryan Balshaw <ryanbalshaw81@gmail.com>"]
maintainers = ["Ryan Balshaw <ryanbalshaw81@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/RyanBalshaw/scICA"
repository = "https://github.com/RyanBalshaw/scICA"
documentation = "https://github.com/RyanBalshaw/scICA"
keywords = ["Linear transformation", "spectral constraint", "PCA", "ICA"]
include = ["LICENSE"]
classifiers = [
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: Implementation",
    "Topic :: Scientific/Engineering",
]

[tool.poetry.dependencies]
python = "^3.8"
numpy = "^1.23.1"
matplotlib = "^3.5.2"
scipy = "^1.8.1"
scikit-learn = "^1.1.2"
tqdm = "^4.64.1"
sympy = "^1.11.1"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.2.2"
black = "^23.3.0"
isort = "^5.12.0"
interrogate = {extras = ["png"], version = "^1.5.0"}
pytest = "^7.3.1"
ruff = "^0.0.263"
cairosvg = "^2.7.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.urls]
"Bug tracker" = "https://github.com/RyanBalshaw/scICA/issues"
